@import './styles.scss';

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro, sans-serif";
  background-color: $background;
  color: $text; 
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 600;
}

h1 {
  font-size: 48px;
  line-height: 1;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 36px;
}

h5 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 4;
}

:global .btn {
  $button-height: 50px;

  display: block;
  min-width: 200px;
  height: $button-height;
  margin: 0 auto;
  padding: 0 $unit * 4;
  border: none;
  border-radius: $button-height / 2;
  font-family: inherit;
  font-size: 18px;
  line-height: $button-height;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  background-color: $accent;
  cursor: pointer;
  outline: none;
  
  &:hover {
    background-color: lighten($accent, 10%); 
  }

  &:active {
    background-color: lighten($accent, 20%);
  }
}